body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: pink;
}

body,
button {
  font-family: 'Rubik', sans-serif;
}

.jd_header {
  background: black;
  padding: 10px 20px;
}

.jd_article {
  flex-grow: 1;
}

.jd_footer {
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.james-james {
  max-width: 80vw;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 10px dashed red;
  background: linear-gradient(#d70000 100%, #fff, 50%);
}

#parrot {
  word-wrap: break-word;
  margin-top: 24px;
  height:200px;
  margin-bottom: 24px;
}

.pls-graffiti {
  font-size: 100px;
  font-family: "Rubik";
  color: black;
  background: yellow;
}

.pls-graffiti-blue{
  font-size: 100px;
  font-family: "Rubik";
  color: black;
  background: turquoise;
}

blink {
  animation: blinker 0.6s linear infinite;
  color: black;
 }

@keyframes blinker {  
  50% { color: yellow }
 }

@keyframes rotate-dog { 
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.dog {
  animation: 2s infinite rotate-dog;
}